---
import Button from "../components/Button.astro"
---

<header class="flex flex-col md:flex-row items-start md:items-center justify-between px-4 md:px-44 py-4 md:py-6 w-full h-36 md:h-24 border-b border-b-gray-100">
        <img src="logo.svg" alt="logo-numari" class="w-36 h-11" />
        <div class="flex items-center gap-4">
            <Button type="secondary" text="Inciar Sesión" />
            <Button type="primary" text="Reserva una demo" />
        </div>

</header>