---
export interface Props {
  img: string;
  bg?: string;
}

const { bg = '', img } = Astro.props;
---

<section class={`${bg} flex flex-col-reverse md:flex-row items-center gap-8 md:justify-evenly px-4 md:px-72 py-6 md:py-24`}>
  <img 
    src={img} 
    alt={`foto ${img}`} 
    class="w-full md:w-1/2 max-w-md aspect-square object-cover rounded-xl" 
  />
  <div class="w-full md:w-1/2 space-y-8">
    <slot />
  </div>
</section>